body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgb(235, 235, 235);
}

img {
    height: 500px;
    width: auto;
}

#header {
    text-align: center;
    padding-bottom: 30px;
}

#about {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#about img {
    float: left;
    padding: 20px;
}

p {
    font-size: 20px;
}

h1 {
    font-family: monospace;
    font-size: 50px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: gray;
}

#header h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

#header a {
    color: white;
    position: relative;
    text-decoration: none;
}

#header a:hover {
    color: white;

}

#header a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#header a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.cropped1 {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.cropped2 {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#header div {
    float: left;
    background-color: rgb(241, 65, 65);
    text-align: center;
    width: 25%;
}

a {
    text-decoration: none;
}